<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div>
        <form  method="post" action="/user/login">
            <label for="username">username:</label>
            <input type="email"  name="email" placeholder="@gmail.com">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="23rnjffj">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>