<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <h6>Owned by vinisha entrapriess</h6>
    <form method="post"  action="/user">
        <label>Full Name:</label>
        <input type="text"  name="name" placeholder="EX chethan Gowda">
        <label>email:</label>
        <input type="email"  name="email" placeholder="EX chethan Gowda">
        <label>Password:</label>
        <input type="password"  name="password" placeholder="EX chethan Gowda">
        <button type="sumbit">Sign Up</button>
    </form>
</body>
</html>